<form action="named-cat" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </div>
</form>


<style contenteditable>
.brd { border: 5px dashed red;}
</style>

<div>
<img class=brd src='http://bit.ly/1eze8aE' style=>
</div>
